body {
    padding-top: 80px;
}

/* Header Navigation bar */

.navbar {
    background-color: rgb(70, 83, 98);
    border: 0;
    height: 80px;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

/* Menu Icon */

.navbar-default .navbar-toggle {
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar-default .navbar-toggle:hover {
    background-color: rgb(158, 184, 186);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fafafa;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fafafa;
    background-color: rgb(158, 184, 186);
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fafafa;
}

.navbar .navbar-nav li a {
    color: #fafafa;
    height: 80px;
    line-height: 55px;
}

.navbar .navbar-nav li a:hover {
    color: rgb(158, 184, 186);
}

.navbar .navbar-brand {
    font-size: 2em;
    font-weight: 900;
    color: #fafafa;
    height: 80px;
    line-height: 55px;
}

.navbar .navbar-brand span {
    font-weight: 900;
    color: #;
}

.navbar .navbar-brand:hover {
    color: #fafafa;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
    height: 80px;
    line-height: 80px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: #;
    color: #fafafa;
}

.navbar li {
    height: 80px;
}


/* Hero */

.hero {
    min-height: 80vh;
    background-image: url(../img/woods.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(158, 184, 186);
}

.hero-body {
    min-height: 80vh;
}

.hero h1 {
    color: rgb(191, 170, 166);
}

.hero h1 small {
    color: rgb(188, 129, 86);
    font-weight: bold;
}

/* Main section */

.main-body {
    padding-top: 15px;
    min-height: 60vh;
    background-color: rgb(191, 170, 166);
}

.main-body .thumbnail {
    max-width: 400px;
    margin: 10px auto;
}

@media (min-width: 767px) {
    .hero-left {
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translate(0, -50%);
    }

    .hero-right {
        width: 90%;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(0, -50%);
    }
}

@media (max-width: 766px) {
    .hero {
        min-height: 10vh;
        padding: 20px;
    }
    .hero-body {
        min-height: 10vh;
    }
}
