body {
    padding-top: 80px;
    background-color: rgb(244, 242, 243);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(35, 9, 3);
}

p {
    font-size: 18px;
}

/* Header Navigation bar */

.navbar {
    background-color: rgb(70, 83, 98);
    border: 0;
    height: 80px;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

/* Menu Icon */

.navbar-default .navbar-toggle {
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar-default .navbar-toggle:hover {
    background-color: rgb(158, 188, 159);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fafafa;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fafafa;
    background-color: rgb(158, 184, 186);
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fafafa;
}

.navbar .navbar-nav li a {
    color: #fafafa;
    height: 80px;
    line-height: 55px;
}

.navbar .navbar-nav li a:hover {
    color: rgb(158, 184, 186);
}

.navbar .navbar-brand {
    font-size: 2em;
    font-weight: 900;
    color: #fafafa;
    height: 80px;
    line-height: 55px;
}

.navbar .navbar-brand span {
    font-weight: 900;
    color: #;
}

.navbar .navbar-brand:hover {
    color: #fafafa;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
    height: 80px;
    line-height: 80px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: #;
    color: #fafafa;
}

.navbar li {
    height: 80px;
}


/* Hero */

.hero {
    min-height: 40vh;
    /* background-image: url(../img/woods.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;*/
    background-color: rgb(101, 98, 86);
}

.hero-body {
    margin-top: 10%;
}

.hero h1 {
    color: rgb(244, 242, 243);
}

.hero h1 small {
    color: rgb(158, 188, 159);
    font-weight: bold;
}

/* About section */

.about {
    background-color: rgb(158, 184, 186);
    padding-top: 30px;
    padding-bottom: 20px;
}

.about .portrait {
    height: 350px;
    width: 350px;
    margin: auto;
    background-image: url(../img/lewis-pic.jpg);
    background-position: top;
    border-radius: 5px;
    border: 4px solid #ffffff;
}

/* Gallery section */

.gallery-body {
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 60vh;
    background-color: rgb(211, 184, 140);
}

.gallery-body .thumbnail {
    max-width: 400px;
    margin: 10px auto;
}

.gallery-body .panel-default {
    background-color: rgb(158, 188, 159);
    border: none;
    margin-top: 30px;
}

.gallery-body .panel-default .panel-body strong {
    font-size: 20px;
}

/* Contact section */

.contact {
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(101, 98, 86);
}

.contact h2 {
    color: rgb(158, 188, 159);
}

.contact i {
    color: rgb(244, 242, 243);
    font-size: 5em;
    background-color: rgb(158, 188, 159);
    width: 70px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: rgb(70, 83, 98);
    height: 70px;
}

footer p strong {
    color: rgb(244, 242, 243);
}

.footer {
    height: 100%;
    padding-top: 25px;
}

.footer i {
    color: rgb(244, 242, 243);
    font-size: 20px;
    background-color: rgb(158, 188, 159);
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-left: 10px ;
    border-radius: 5px;
}

@media (min-width: 767px) {}

@media (max-width: 766px) {
    .hero {
        min-height: 10vh;
        padding: 20px;
    }
    .hero-body {
        min-height: 10vh;
    }
    .about .portrait {
        height: 200px;
        width: 200px;
        background-size: contain;
        margin-bottom: 20px;
    }
}

